.Button {
  font-size: 20px;
  margin: 20px;
  margin-top: 40px;
  padding: 27px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #02ffbf;
  color: var(--bg-color);
  box-sizing: border-box;
  animation: slide-from-bottom 0.7s forwards;
}

.Button:hover {
  background: #02feac;
}

.ButtonWrapper {
  display: inline-block;
  transition: 0.2s;
}

.Button svg path {
  stroke: currentColor;
  fill: currentColor;
}

.Button.StartButton svg {
  position: relative;
  left: 2px;
}

.Button.SaveButton svg {
  position: relative;
  left: 2px;
}

.Button.ResetButton svg {
  position: relative;
  bottom: 2px;
  left: 1px;
}

.GithubButton {
  background: transparent;
  color: var(--main-color);
  margin: 0;
  padding: 0;
  height: 18px;
  width: 18px;
  position: relative;
  top: 3px;
  left: 5px;
  animation: none;
}

.GithubButton:hover {
  background: transparent;
}
