.MainHolder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TimeHolder {
  margin: 90px 0;
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TimeSvgHolder {
  position: absolute;
  transform: rotateZ(270deg);
}

.TimeSvgHolder svg {
  transform: scale(1.5);
}

.TimeSvgHolder circle:nth-child(1) {
  stroke: #b7b7b7;
  fill: none;
  stroke-dasharray: 6;
}

.TimeSvgHolder circle:nth-child(2) {
  stroke: #03a9f4;
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 756;
  stroke-dashoffset: 756;
  stroke-linecap: round;
}

.TimeSvgHolder circle:nth-child(3) {
  stroke: #f1f1f1;
  fill: none;
  stroke-width: 6px;
  stroke-dasharray: 3;
}

.TimeSvgHolder circle:nth-child(4) {
  stroke: #cc5e5e;
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 629;
  stroke-dashoffset: 629;
  stroke-linecap: round;
  transform: rotateZ(0deg);
  transform-origin: center;
}

.TimeHolder > span {
  position: relative;
  top: -2px;
  font-size: 32px;
}

.TimeItem {
  display: inline-block;
  font-size: 48px;
  min-width: 61px;
}

.SaveTimeHolder {
  position: absolute;
  top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SaveTimeHolder:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 30%;
  height: 2px;
  background-color: #cc5e5e;
}

.SaveTimeHolder > div {
  display: inline-block;
  font-size: 24px;
  min-width: 32px;
}

.SaveTimeHolder > span {
  position: relative;
  top: -1px;
  font-size: 22px;
}

.ButtonsHolder {
  position: absolute;
  width: 555px;
  bottom: 27%;
}

.Button {
  position: absolute;
  left: 0;
  font-size: 20px;
  margin: 20px;
  padding: 27px;
  cursor: pointer;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-color: #ffc107;
  color: #000;
  animation: slide-from-bottom 1s forwards;
}

.Button:nth-child(2) {
  left: auto;
  position: absolute;
  right: 0;
}

.Button svg path {
  stroke: currentColor;
  fill: currentColor;
}

.SavedResultsHolder {
  animation: slide-from-bottom 0.3s forwards;
}

.SavedResultsHolder table {
  display: inline-block;
}

.SavedResultsHolder th,
.SavedResultsHolder td {
  border-collapse: collapse;
}

.SavedResultsHolder th {
  background: #151515;
}

.SavedResultsHolder td:nth-child(4) {
  background: #151515;
}

.SavedResultsHolder th,
.SavedResultsHolder td {
  padding: 12px 30px;
  margin-bottom: 11px;
  font-size: 14px;
  letter-spacing: 1px;
}

.SavedResultsHolder td {
  animation: slide-from-bottom 0.3s forwards;
}

@keyframes slide-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.SmallClock {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: 81px;
  background-color: #2f2f2f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SmallClock > span {
  background-color: #fff;
  width: 1px;
  height: 35%;
  position: absolute;
  bottom: 50%;
  transform: rotateZ(0);
  transform-origin: bottom;
  will-change: transform;
}

.SmallClock:after {
  content: "";
  background: #fff;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
}
