.TimeHolder {
  margin: 90px 0;
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TimeSvgHolder {
  position: absolute;
  transform: rotate(270deg);
}

.TimeSvgHolder svg {
  transform: scale(1.5);
}

.TimeSvgHolder circle:nth-child(1) {
  stroke: #b7b7b7;
  fill: none;
  stroke-dasharray: 6;
}

.TimeSvgHolder circle:nth-child(2) {
  stroke: #03a9f4;
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 756;
  stroke-dashoffset: 756;
  stroke-linecap: round;
}

.TimeSvgHolder circle:nth-child(3) {
  stroke: #f1f1f1;
  fill: none;
  stroke-width: 6px;
  stroke-dasharray: 3;
}

.TimeSvgHolder circle:nth-child(4) {
  stroke: #cc5e5e;
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 629;
  stroke-dashoffset: 629;
  stroke-linecap: round;
  transform: rotateZ(0deg);
  transform-origin: center;
}

.TimeHolder span {
  position: relative;
  top: -2px;
  font-size: 32px;
}

.TimeItem {
  display: inline-block;
  font-size: 48px;
  min-width: 61px;
}

.Button {
  font-size: 20px;
  margin: 20px;
  padding: 7px 20px;
  cursor: pointer;
}

.StartButton {
  margin-top: 0;
  margin-bottom: 80px;
}

.SavedResultsHolder {
  margin-top: 60px;
}

.SavedResultsHolder ol {
  min-width: 128px;
  display: inline-block;
  margin-left: -25px;
}

.SavedResultsHolder ol li {
  padding: 9px 21px;
  margin-bottom: 11px;
  font-size: 14px;
  letter-spacing: 1px;
}

.SmallClock {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: 81px;
  background-color: #2f2f2f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SmallClock.Running.Paused:before {
  animation-play-state: paused;
}

.SmallClock.Running:before {
  animation: rotate-small-circle 1s linear infinite;
}

.SmallClock:before {
  content: "";
  background-color: #fff;
  width: 1px;
  height: 35%;
  position: absolute;
  bottom: 50%;
  transform: rotateZ(0);
  transform-origin: bottom;
  will-change: transform;
}

.SmallClock:after {
  content: "";
  background: #fff;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
}

@keyframes rotate-small-circle {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
