.ThemeSwitcher,
.ThemeSwitcher:hover {
  background-color: transparent;
}

.ThemeSwitcher svg path {
  fill: var(--grey-color-2);
}

.ThemeSwitcherHolder {
  position: absolute;
  right: -63%;
  z-index: 123;
  top: -40%;
}

/* Media Queries */

@media (max-width: 600px) {
  .ThemeSwitcherHolder {
    right: -55%;
    top: -28%;
  }
}
