@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(30, 29, 35) 100%
  );
}

body {
  margin-bottom: 50px;
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
}
