@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --bg-color: #000;
  --text-color: #fff;
  --grey-color: #171717;
  --grey-color-2: #bdbdbd;
}

/* --bg-color: #fff;
--text-color: #333;
--grey-color: #efefef;
--grey-color-2: #e4e4e4; */

html {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--grey-color) 100%
  );
}

body {
  margin-bottom: 50px;
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
}
