@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

body {
  margin-bottom: 50px;
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
}
